<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hot dog not hot dog</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
      integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="outer-container">
      <div class="inner-container">
        <h1>Please upload an image below:</h1>
        <form action="/" enctype="multipart/form-data" method="post">
          <input type="file" name="file-to-upload" />
          <input type="submit" value="Upload" />
        </form>
      </div>
      <!-- <div class="flex-container">
        <img src="./imgs/vintage-sign.png" class="hero-img" />
      </div> -->
    </div>
  </body>
</html>
