<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hot dog not hot dog</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="outer-container">
      <div class="inner-container">
        <% if(locals.count > 0) { %>
        <img src="<%= img%>" alt="Hot dog" />
        <h1 class="response-message positive">Hotdog</h1>
        <% }else { %>
        <img src="<%= img%>" alt="Not Hot dog" />
        <h1 class="response-message negative">Not Hotdog</h1>
        <% } %>

        <form action="/" enctype="multipart/form-data" method="post">
          <input type="file" name="file-to-upload" />
          <input type="submit" value="Upload" />
        </form>
      </div>
    </div>
  </body>
</html>
