img {
  width: 500px;
}

.outer-container {
  display: flex;
  justify-content: center;
}
.inner-container {
  position: relative;
}
.response-message {
  position: absolute;
  top: -31px;
  left: 2px;
  font-size: 3em;
  width: 100%;
  text-align: center;
  font-family: sans-serif;
  color: #fff;
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000,
    3px 3px 0 #000;
  letter-spacing: 2px;
}
.response-message.positive {
  background: lightgreen;
}
.response-message.negative {
  background: red;
}
